/* ============================
   ⚙️ Ajustes globales
============================ */
section {
  position: relative;
  z-index: 5;
  background-color: #fff;
}

#categorias, #destacados, #vision-mision, #ubicacion {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
