#calendar {
  min-height: 600px;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

/* Botones FullCalendar personalizados */
.fc .fc-button {
  background-color: #0ea5e9 !important;
  border: none !important;
  color: #fff !important;
  font-weight: 600;
}

.fc .fc-button:hover {
  background-color: #0284c7 !important;
}

.fc .fc-daygrid-day:hover {
  background-color: #f1f5f9 !important;
  cursor: pointer;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.modal-content {
  border-radius: 1rem;
}
